<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecaa" >

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".Admin.AdminNewOrdersActivity" />
        <activity android:name=".Admin.HomeActivityAdmin" />
        <activity android:name=".ChoiceActivity" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer.RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Seller.seller_register" />
        <activity android:name=".Admin.AdminAddNewProductActivity" />
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".Admin.AccessoriesCategoryExtension" />
        <activity android:name=".Admin.ClothingCategoryExtension" />
        <activity android:name=".Admin.ElectronicsCategoryExtension" />
        <activity android:name=".Seller.SellerAccessoriesCategoryExtension" />
        <activity android:name=".Seller.SellerChooseCategory" />
        <activity android:name=".Seller.SellerAddProductDetails" />
        <activity android:name=".Seller.SellerClothingCategoryExtension" />
        <activity android:name=".Seller.SellerElectronicsCategoryExtension" />
        <activity android:name=".Customer.HomeActivityCustomer" />
        <activity android:name=".Admin.AdminMaintainProductsActivity" />
        <activity android:name=".Admin.AdminUserProductsActivity" />
        <activity android:name=".Customer.CartActivity" />
        <activity android:name=".Customer.ConfirmFinalOrderActivity" />
        <activity android:name=".Customer.ProductDetailsActivity" />
        <activity android:name=".Admin.ApproveProductsActivity" />
        <activity android:name=".settingsActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".Seller.SellerHomePage" />
    </application>

</manifest>